aiobotocore==2.12.1
aiohttp==3.9.3
aioitertools==0.11.0
aiosignal==1.3.1
alabaster==1.0.0
alembic==1.13.1
aniso8601==9.0.1
annotated-types==0.6.0
anyio==4.0.0
appdirs==1.4.4
arabic-reshaper==3.0.0
arrow==1.3.0
asciitree==0.3.3
asn1crypto==1.5.1
async-timeout==4.0.3
attrs==23.2.0
autoflake==2.2.1
babel==2.16.0
backoff==2.2.1
bandit==1.7.10
beautifulsoup4==4.12.3
BlastRadius==0.1.23
blinker==1.7.0
boltons==23.0.0
boto3==1.34.12
boto3-stubs==1.28.83.post1
botocore==1.34.12
botocore-stubs==1.31.83
brotlipy==0.7.0
build==1.0.3
cachetools==5.3.3
cads-api-client==1.3.2
calibsunlib==0.0.161.post5
calibsunlog==0.0.5.post0
calibsunmet==0.0.26
calibsunsat==0.1.14
cdsapi==0.7.0
certifi==2024.2.2
cffi==1.16.0
cfgrib==0.9.10.4
cfgv==3.4.0
cftime==1.6.3
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==2.2.1
coloredlogs==14.0
conda==23.5.2
conda-content-trust==0.1.3
conda-libmamba-solver==23.5.0
conda-package-handling==2.1.0
conda_package_streaming==0.8.0
configobj==5.0.8
contourpy==1.2.1
coverage==7.5.3
croniter==2.0.1
cryptography==42.0.2
cssselect2==0.7.0
cycler==0.12.1
dagster==1.7.8
dagster-aws==0.23.8
dagster-graphql==1.7.8
dagster-pipes==1.7.8
dagster-postgres==0.23.8
dagster-webserver==1.7.8
dask==2023.9.3
decorator==5.1.1
diskcache==5.6.3
distlib==0.3.7
docker==6.1.3
docstring-parser==0.15
docutils==0.21.2
docx==0.2.4
docxcompose==1.4.0
docxtpl==0.16.8
donfig==0.8.1
dtaidistance==2.3.12
earthengine-api==0.1.395
eccodes==1.6.1
et-xmlfile==1.1.0
eumdac==2.1.0
exceptiongroup==1.2.0
fasteners==0.19
filelock==3.13.1
findlibs==0.0.5
Flask==3.0.0
Flask-Cors==4.0.0
fonttools==4.51.0
frozenlist==1.4.1
fsspec==2023.10.0
gcsfs==2024.2.0
GDAL==3.4.0
geojson==3.1.0
goes-api==0.1.3
google-api-core==2.18.0
google-api-python-client==2.124.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-cloud-core==2.4.1
google-cloud-storage==2.16.0
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
gql==3.5.0
graphene==3.3
graphql-core==3.2.3
graphql-relay==3.2.0
graphviz==0.20.3
greenlet==3.0.3
grpcio==1.59.2
grpcio-health-checking==1.59.2
gunicorn==21.2.0
h11==0.14.0
h5netcdf==1.3.0
h5py==3.10.0
himawari-api==0.0.2
html5lib==1.1
httplib2==0.22.0
httptools==0.6.1
humanfriendly==10.0
humanize==4.9.0
identify==2.5.32
idna==3.6
imagesize==1.4.1
importlib-metadata==6.8.0
iniconfig==2.0.0
itsdangerous==2.1.2
jaraco.classes==3.4.0
jeepney==0.8.0
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.3.2
jsmin==3.0.1
jsonpatch==1.32
jsonpickle==3.3.0
jsonpointer==2.1
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
keyring==23.13.1
kiwisolver==1.4.5
libinsitu==1.5
libmambapy==1.4.1
locket==1.0.0
lxml==5.2.2
Mako==1.3.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.5
mdit-py-plugins==0.4.2
mdurl==0.1.2
more-itertools==10.2.0
moto==4.2.12
multidict==6.0.4
multimethod==1.10
multiurl==0.3.1
mypy-boto3==1.34.84
mypy-boto3-autoscaling==1.34.54
mypy-boto3-cloudformation==1.28.83
mypy-boto3-dynamodb==1.28.73
mypy-boto3-ec2==1.28.83
mypy-boto3-ecs==1.28.65
mypy-boto3-lambda==1.28.83
mypy-boto3-rds==1.28.81
mypy-boto3-s3==1.28.55
mypy-boto3-sqs==1.28.82
mypy-extensions==1.0.0
myst-parser==4.0.0
netCDF4==1.6.5
nodeenv==1.8.0
numcodecs==0.12.0
numpy==1.26.4
oauthlib==3.2.2
opencv-python-headless==4.9.0.80
openpyxl==3.1.5
oscrypto==1.3.0
OWSLib==0.31.0
packaging==23.2
pandas==2.2.2
pandera==0.20.4
partd==1.4.1
pbr==6.1.0
pendulum==2.1.2
Pillow==10.0.1
pip==23.3.1
platformdirs==4.1.0
plotly==5.11.0
pluggy==1.3.0
polars==0.20.22
pooch==1.7.0
pre-commit==3.6.0
proto-plus==1.23.0
protobuf==4.25.0
psutil==5.9.6
psycopg2-binary==2.9.9
pvlib==0.9.5
pyarrow==16.1.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycosat==0.6.4
pycparser==2.21
pydantic==2.7.3
pydantic_core==2.18.4
pydantic-settings==2.1.0
pyflakes==3.1.0
Pygments==2.17.2
pyHanko==0.25.1
pyhanko-certvalidator==0.26.3
pyhcl==0.4.5
pykdtree==1.3.9
pylibtiff==0.6.1
pyOpenSSL==24.2.1
pyorbital==1.8.0
pyparsing==3.1.2
pypdf==4.3.1
pypng==0.20220715.0
pyproj==3.4.1
pyproject_hooks==1.0.0
pyresample==1.27.1
pyrsistent==0.20.0
PySocks==1.7.1
pysteps==1.8.1
pytest==7.4.3
pytest-cov==5.0.0
pytest-env==1.1.3
python-bidi==0.6.0
python-dateutil==2.8.2
python-docx==1.1.0
python-dotenv==1.0.1
pytz==2023.3.post1
pytzdata==2020.1
PyYAML==6.0.1
qrcode==7.4.2
referencing==0.34.0
regex==2023.10.3
reportlab==4.2.2
requests==2.31.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
responses==0.25.0
rich==13.7.0
rpds-py==0.18.0
rsa==4.9
ruamel.yaml==0.17.21
s3fs==2024.2.0
s3transfer==0.10.0
satpy==0.43.0.post0
scikit-learn==1.2.2
scipy==1.11.3
SecretStorage==3.3.3
setuptools==68.2.2
sg2==2.3.1
shapely==2.0.1
six==1.16.0
smart-open==6.4.0
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==8.1.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.25
starlette==0.32.0.post1
stevedore==5.3.0
structlog==24.2.0
svglib==1.5.1
swinging-door==1.0.1
tabulate==0.9.0
tenacity==8.2.3
threadpoolctl==3.4.0
tinycss2==1.3.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
toposort==1.10
tqdm==4.66.1
trollimage==1.21.0
trollsift==0.5.0
typeguard==4.2.0
types-awscrt==0.19.10
types-python-dateutil==2.9.0.20240316
types-s3transfer==0.7.0
typing_extensions==4.8.0
typing-inspect==0.9.0
tzdata==2023.3
tzlocal==5.2
ukkonen==1.0.1
Unidecode==1.3.8
universal-pathlib==0.1.4
uritemplate==4.1.1
uritools==4.0.3
urllib3==2.0.7
uvicorn==0.24.0.post1
uvloop==0.19.0
virtualenv==20.26.5
watchdog==3.0.0
watchfiles==0.21.0
webencodings==0.5.1
websocket-client==1.6.4
websockets==12.0
Werkzeug==3.0.3
wheel==0.41.2
wrapt==1.16.0
xarray==2023.9.0
xhtml2pdf==0.2.16
xmltodict==0.13.0
yarl==1.9.2
zarr==2.16.1
zipp==3.17.0
zstandard==0.19.0
